*.zip
data_warehouse_implementation/HDlab4/.vs/HDlab4/v16/.suo
data_warehouse_implementation/HDlab4/HDlab4/bin/HDlab4.asdatabase
data_warehouse_implementation/HDlab4/HDlab4/bin/HDlab4.configsettings
data_warehouse_implementation/HDlab4/HDlab4/bin/HDlab4.deploymenttargets
data_warehouse_implementation/HDlab4/HDlab4/bin/HDlab4.deploymentoptions
data_warehouse_implementation/HDlab4/HDlab4/obj/Development/IncrementalShapshot.xml
data_warehouse_implementation/HDlab4/HDlab4/obj/Development/LastBuilt.xml
data_warehouse_implementation/HDlab4/.vs/HDlab4/v16/*.suo

data_warehouse_implementation/HDlab4/.vs/HDlab4/v16/.suo
data_warehouse_implementation/HDlab4/HDlab4/Out Postdw.ds

lectures
